:root {
	--white: #FFFFFF;
	--black: #000000;
	--third-color: #8AE3EB;
	--second-color: #D4ECEE;
	--primary-color: #6FB5BC;
	--grey: #5F6A6B;
	--fourth-color: #6CB1B8;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
