@import "vars";

.banner h1 {
  font-size: 2.4rem;
}

.information-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px auto;
  max-width: 85%;
}

.card {
  border-radius: 35px;
  width: 300px;
  min-height: 300px;
  background: #ffffff;
  box-shadow: 23px 23px 46px #828282, -23px -23px 46px #ffffff;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  box-sizing: border-box;
}
