@import 'vars';

.ProductList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 26px;
	margin: 50px auto;
	width: 90%;
}

@media (max-width: 640px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, 140px);
	}
}
